@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-pointer {
    cursor: pointer !important;
}

.hover-bg {
    background-color: rgb(190, 198, 209);
}

.line-through {
    text-decoration: line-through;
}